h1 {
    text-align: center;
}

#recipe-app .login, .logout, .logged-in{
    text-align: right;
}

#recipe-app .recipes .recipe-title{
    width: 40%;
    display: inline-block;
    text-align:left;
    font-size:1.2em;
    cursor: pointer;
}

#recipe-app .recipes .author{
    width: 30%;
    display: inline-block;
    text-align:left;
    font-family: "Lucida Console", "Courier New", monospace;
    color: crimson;
}

#recipe-app li:nth-child(even) {
    background-color:khaki;
}

#recipe-app .add-recipe {
    vertical-align: baseline;
}

#recipe-app .add-recipe label, .recipe-detail label {
    display: inline-block;
    background-color: sandybrown;
    width: 15%;
    text-align: center;
    vertical-align: top;
    font-style: italic;
}

#recipe-app .recipe-detail {
    background-color: gold;
}

.hidden {
    display: none;
}