#cat-facts .header{
  text-align: center;
}

#app .fact-content {
  background-color: azure;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
}

.notLoaded  {
  background-color: orange;
  position: fixed;  
  top: 30%;
  left: 40%;
}

.notLoaded .isLoading {
  text-align: center;
}

#app select {
  float: right;
}

#app .factAdjust, .spinner {
  text-align: center;
}
