.app {
  background-color: #C0FFEE;
  height: 80vh;
}

.app .nav { 
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #BADA55;
}

.app .nav > li { 
}

.app .nav > li.logout { 
}
/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
